.vscode/**
.vscode-test/**
out/**
src/**
.gitignore
**/tsconfig.json
**/.eslintignore
**/.eslintrc.json
**/.prettierrc.json
**/.prettierignore
**/.classpath
**/.project
**/.settings
**/*.map
**/*.ts
test-fixtures/**
images/**
proto/**
build.gradle
build/**
.gradle/**
node_modules
webpack.config.js
beta/**
ARCHITECTURE.md
# Ignore output of code sign
lib/*.md
**/*.log

scripts
# for nightly build
package.insiders.json
jdtls.ext
build-server-for-gradle
#codesign
**/CodeSignSummary-*.md
