.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
**/tsconfig.json
**/.eslintignore
**/.eslintrc.json
**/.prettierrc.json
**/.prettierignore
**/.classpath
**/.project
**/.settings
**/*.map
**/*.ts
test-fixtures/**
images/**
sonar-project.properties
proto/**
i18n/**
build.gradle
build/**
node_modules
webpack.config.js
