.vscode/**
.vscode-test/**
.github/**
out/test/**
src/**
.gitignore
**/tsconfig.json
**/.eslintignore
**/.eslintrc.json
**/.prettierrc.json
**/.prettierignore
**/*.map
**/*.ts
test-fixtures/**
images/**
sonar-project.properties
proto/**
i18n/**
gulpfile.js
build.gradle
