node_modules

# Output directories
build/
target/
bin/

# Mac OS X files
.DS_Store

# Eclipse files
.settings
.classpath
.project

# vim files
.*.sw[a-z]
*.un~

# Java class files
*.class

# Gradle
.gradle

# direnv
.envrc

# Ignore Gradle build output directory
build

# Gradle build
build.gradle

# Dotfiles
.eslintignore
.eslintrc.json
.prettierignore
.prettierrc.json

# Sourcemaps
*.map

# TypeScript
tsconfig.json
index.ts
